
html{
  background-image:url(images/wood-482288_1920.jpg);
    padding:0;
    clear:both;
}

.lac{
    float:left;
    background-image:url(images/jetty.jpg) ;
    width:79%;
    height:100%;
     clear:both;
}

.option{
    float:right;
    
     width:20%;
    height:auto;
     
}

.option h2{
    text-align:center;
    font-size:30px;
    font-family: Verdana, Geneva, sans-serif;
}

.barque img {
   
    width:35%;
    height:15%;
    margin-left:15%;
    margin-top:10%;
}
.barque img:hover{
    width:40%;
    height:20%;
    margin-left:10%;
    margin-top:10%;
}

.imgscore img{
   
    width:90px;
    height:80px;
    padding:0;
    
}

.score p{
   margin-top:-9;
    margin-left:50px;
   padding:0;
    font-size:30px;
     width:150;
      height:150;
    
}



#score{
   
      background-image:url(images/panier.png)  ;
      background-repeat: no-repeat;
     
      padding-top:90;
       padding-bottom:0;
       text-align:center;
}
.booster{
    
    margin-top:-100;
}

#moveDiv
{

	position: absolute;
	top: 10px;
	left: 10px;
	
	transition: left 1s linear, right 1s linear;
}